[submodule "vendor/publicsuffix"]
	path = vendor/publicsuffix
	url = https://github.com/onlinemediagroup/publicsuffix.git
[submodule "vendor/colorific"]
	path = vendor/colorific
	url = https://github.com/99designs/colorific.git
[submodule "vendor/webkit2png"]
	path = vendor/webkit2png
	url = https://github.com/paulhammond/webkit2png.git
